<%
  var now = new Date();
  var nowYear = now.getFullYear();
_%>
<?- include(baseDir+'/common/_head') -?>

<?- include(baseDir+'/common/_header') -?>
<main class="page__<?= page.id ?>">
  <div class="container">
    <h1 class="title"><?= page.title ?></h1>

    <% if(Object.keys(members).length > 0){ %>
      <ul class="grade_list">
        <% Object.keys(members).forEach(function(level){ %>
          <li>
            <a class="scroll_tag" scroll="#grade-<%= level %>">
              <% if(level <= 4){ %>
                <%= level %>回生
              <% }else if(level == 5){ %>
                5回生以上
              <% }else if(level == 6){ %>
                院生
              <% } %>
            </a>
          </li>
        <% }) %>
      </ul>

      <% Object.keys(members).forEach(function(level){ %>
        <% var grade = Number(nowYear) - Number(level) - Number(define.club_start) + 2 %>
        <section id="grade-<%= level %>">
          <h3 class="grade">
            <% if(level <= 4){ %>
              <%= level %>回生（<%= grade %>期）
            <% }else if(level == 5){ %>
              5回生以上
            <% }else if(level == 6){ %>
              院生
            <% } %>
          </h3>
          <ul class="member_list">
            <% for(var member of members[level]){ %>
              <a href="/member/member/<%= member.id %>">
                <li class="member">
                  <div class="img">
                    <% if(member.image){ %>
                      <p><%= member.image %></p>
                    <% }else{ %>
                      <img src="<?= lib ?>/img/face.jpg" />
                    <% } %>
                  </div>
                  <div class="des">
                    <p class="member__name"><%= member.name %></p>
                    <p class="member__belong">
                      <%= member.expert %>
                      <% if(member.position){ %>
                        - <%= member.position %>
                      <% } %>
                    </p>
                  </div>
                </li>
              </a>
            <% } %>
          </ul>
        </section>
      <% }) %>
    <% } %>
  </div>
</main>
<?- include(baseDir+'/common/_footer') -?>

<?- include(baseDir+'/common/_foot') -?>
