<?- include(baseDir+'/common/_head') -?>

<?- include(baseDir+'/common/_header') -?>
<main class="page__<?= page.id ?>">
  <div class="container">
    <h1 class="title competition_name"><%= comInfo.competition %></h1>
    <ul class="competition_info">
      <li>日時：<%= comInfo.date %></li>
      <li>場所：<%= comInfo.place %></li>
    </ul>

    <% if(Object.keys(results).length > 0){ _%>
      <% Object.keys(results).forEach(function(event){ %>
        <section class="sec_result">
          <h1 class="result__event"><%= event %></h1>
          <% Object.keys(results[event]).forEach(function(round){ _%>
            <% if(round != 'null'){ %>
              <h3 class="result__round"><%= round %></h3>
            <% } %>
            <div class="result__block">
              <table class="result__table">
                <thead>
                  <tr>
                    <th>名前</th>
                    <th>記録</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(var result of results[event][round]){ %>
                    <tr class="result">
                      <td class="result__name"><%= result.name %></td>
                      <td class="result__result"><%= result.result %></td>
                    </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          <% }) %>
        </section>
      <% }) _%>
    <% } %>
  </div>
</main>
<?- include(baseDir+'/common/_footer') -?>

<?- include(baseDir+'/common/_foot') -?>
