<?- include(baseDir+'/common/_head') -?>

<?- include(baseDir+'/common/_header') -?>
<main class="page__<?= page.id ?>">
  <div class="container">
    <h1 class="title"><?= page.title ?></h1>

    <section>
      <% if(coms.length > 0){ %>
        <table class="com_list">
          <thead>
            <tr>
              <th>月日</th>
              <th>大会名</th>
              <th>場所</th>
              <th>結果</th>
            </tr>
          </thead>
          <tbody>
            <% for(var com of coms){ %>
              <tr class="com">
                <td class="com__date">
                  <%
                    let startDate = new Date(com.start);
                    if(com.end != null && com.end != '0000-00-00'){
                      let endDate = new Date(com.end);
                  %>
                      <%= startDate.getMonth() + 1 %>/<%= startDate.getDate() %>
                    <%
                      if(startDate.getMonth() == endDate.getMonth()){
                    %>
                        <br class="view_sp" />- <%= endDate.getDate() %>
                    <%
                      }else{
                    %>
                        <br class="view_sp" />- <%= endDate.getMonth() + 1 %>/<%= endDate.getDate() %>
                    <%
                      }
                    }else{
                  %>
                      <%= startDate.getMonth() + 1 %>/<%= startDate.getDate() %>
                  <%
                    }
                  %>
                </td>
                <td class="com__competition"><%= com.competition %></td>
                <td class="com__place"><%= com.place %></td>
                <td class="com__link">
                  <%
                    if(com.count > 0){
                  %>
                  <a href="/competition/competition/<%= com.id %>">結果</a>
                  <%
                    }else{
                  %>
                  -
                  <%
                    }
                  %>
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>
      <% } %>
    </section>
  </div>
</main>
<?- include(baseDir+'/common/_footer') -?>

<?- include(baseDir+'/competition/_script_year') -?>

<?- include(baseDir+'/common/_foot') -?>
